<form [formGroup]="hauseForm"
(ngSubmit)="postForm(hauseForm.value)"
>
  <div class="mb-3">
    <label for="" class="form-label">Nombre de la Casa</label>
    <input type="text" class="form-control" formControlName="nameHause" />

    <label for="" class="form-label mt-2">Descripcion de la Casa</label>
    <input type="text" class="form-control" formControlName="description" />

    
    <label for="" class="form-label mt-3">Tiene Servicio de Energia?</label>
    <select
      class="form-control shadow p-2 mt-2"
      formControlName="serviceElectricPower"
    >
      <option value="null" disabled selected>Seleccione una Opcion</option>
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>
    <label for="" class="form-label mt-3">Tiene Servicio de Agua?</label>
    <select
      class="form-control shadow p-2 mt-2"
      formControlName="serviceWaterPower"
    >
      <option value="null" disabled selected>Seleccione una Opcion?</option>
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>

    <label for="" class="form-label mt-3"
      >Tiene Servicio de Alcantarillado?</label
    >
    <select
      class="form-control shadow p-2 mt-2"
      formControlName="serviceSewer"
    >
      <option value="null" disabled selected>Seleccione una Opcion</option>
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>

    <label for="" class="form-label mt-3">Zona</label>
    <select
      class="form-control shadow p-2 mt-2"
      formControlName="zoneId"
    >
      <option value="null" disabled selected>Seleccione una Zona</option>
      <option value="{{ zone.id }}" *ngFor="let zone of zoneList">
        {{ zone.nameZone }}
      </option>
    </select>

    <label for="" class="form-label mt-3">Estado</label>
    <select
      class="form-control shadow p-2 mt-2"
      formControlName="statusId"
    >
      <option value="null" disabled selected>Seleccione un Estado</option>
      <option value="{{ status.id }}" *ngFor="let status of statusList">
        {{ status.statusName }}
      </option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
